{{extend 'layout.html'}}

<div id="st-container-default" class="st-container">

    <!-- content push wrapper -->
    <div class="st-pusher">

        <ul id="default" class="st-content">
            <li class="st-trigger"><a data-effect="st-effect-right">Signup</a></li>
		    <li class="st-trigger"><a data-effect="st-effect-right">Login</a></li>
		    <li class="st-trigger"><a data-effect="st-effect-right">What's sup?</a></li>
        </ul>

        <ul id="login" class="st-menu-right st-effect-right">
			{{=form_login.custom.begin}}
			{{if form_login.errors:}}
		    <li>{{=form_login.errors}}</li>
		    {{pass}}
			<li>{{=form_login.custom.widget.username}}</li>
			<li>{{=form_login.custom.widget.password}}</li>
			<li>{{=form_login.custom.submit}}</li>
			{{=form_login.custom.end}}
        </ul>

        <ul id="register" class="st-menu-right st-effect-right">
            {{=form_register.custom.begin}}
		    {{if form_register.errors:}}
		    <li>{{=form_register.errors}}</li>
		    {{pass}}
		    <li>{{=form_register.custom.widget.username}}</li>
		    <li>{{=form_register.custom.widget.password}}</li>
		    <li>{{=form_register.custom.widget.password_two}}</li>
		    <li>{{=form_register.custom.submit}}</li>
		    {{=form_register.custom.end}}
        </ul>

    </div><!-- /st-pusher -->

</div><!-- /st-container -->

<script>

    function processForm(e) {

        e.preventDefault();

        var pushNotification = window.plugins.pushNotification;
        pushNotification.register(app.onPushSuccess, app.onPushFailure,{"senderID":"649293780544","ecb":"app.onNotificationGCM"});

        return false; // Must return false to prevent the default form behavior
    }

    var form = document.getElementById("form_registration");

    if (form.attachEvent) {
        form.attachEvent("submit", processForm);
    } else {
        form.addEventListener("submit", processForm);
    }

</script>