{{extend 'layout.html'}}

<div class="center-block">
    {{=form}}
</div>

<script>

    function processForm(e) {

        e.preventDefault();

        var pushNotification = window.plugins.pushNotification;
        pushNotification.register(app.onPushSuccess, app.onPushFailure,{"senderID":"649293780544","ecb":"app.onNotificationGCM"});

        return false; // Must return false to prevent the default form behavior
    }

    var form = document.getElementById("form_registration");

    if (form.attachEvent) {
        form.attachEvent("submit", processForm);
    } else {
        form.addEventListener("submit", processForm);
    }

</script>