{{extend 'layout.html'}}

<div id="st-container" class="st-container">

    <!-- content push wrapper -->
    <div class="st-pusher">

        <ul class="st-content">
            <li><a href="{{=URL('dashboard', 'invite')}}">Invite</a></li>
            <li><a>Test</a></li>
            <li><a>Test</a></li>
            <li><a>Test</a></li>
            <li><a>Test</a></li>

            {{for user in users:}}
            <li>
                <a href="/sup/dashboard/index/{{=user.id}}">
                {{if request.args:}}
                    {{if (user.id == request.args[0]):}}
                        {{=response.flash}}
                    {{else:}}
                        {{=user.username}}
                    {{pass}}
                {{else:}}
                    {{=user.username}}
                {{pass}}
                </a>
            </li>
            {{pass}}
            <li><a href="{{=URL('dashboard', 'add_friend')}}">+</a></li>
        </ul>

        <div id="st-trigger-effects">
            <button class="pull-right" data-effect="st-effect">...</button>
        </div>

        <ul class="st-menu st-effect">
            <li><a>User: #</a></li>
            <li><a href="{{=URL('dashboard', 'settings')}}">Invite</a></li>
            <li><a href="{{=URL('dashboard', 'settings')}}">Unblock</a></li>
            <li><a>Yo's: #</a></li>
            <li><a href="{{=URL('dashboard', 'logout')}}">Log out</a></li>
            <li><a href="{{=URL('dashboard', 'settings')}}">+</a></li>
            <li id="menu_done"><a>Done</a></li>
        </ul>

    </div><!-- /st-pusher -->

</div><!-- /st-container -->